@if (blogPost$ | async; as blogPost) {
<div class="py-5">
  <div class="col-12 col-md-8 col-lg-6 mx-auto">
    <img
      [src]="blogPost.featuredImageUrl"
      [title]="blogPost.title"
      class="img-fluid"
    />
    <h1 class="mt-4">{{ blogPost.title }}</h1>
    <div class="d-flex justify-content-between mt-4">
      <span class="text-muted">{{ blogPost.author }}</span>
      <span class="text-muted"
        >By {{ blogPost.publishedDate | date : "dd-MM-yyy" }}</span
      >
    </div>
    <div class="mb-3">
      <span>
        <i
          id="btnLike"
          [ngClass]="
            blogPost.liked
              ? 'bi bi-hand-thumbs-up-fill text-primary'
              : 'bi bi-hand-thumbs-up'
          "
          style="cursor: pointer"
          (click)="onLike(blogPost)"
        ></i>
        {{ blogPost.totalLikes }}
      </span>
    </div>
    @if (blogPost.categories) {
    <div class="mt-4">
      @for (category of blogPost.categories; track category) {
      <span class="badge bg-secondary me-2">
        {{ category.name }}
      </span>
      }
    </div>
    }
    <div class="mt-4 blog-content">
      <markdown [data]="blogPost.content"> </markdown>
    </div>
    <div class="card">
      <div class="card-header">
        <h5>Comments</h5>
        <!-- if loggedin -->
        <form (ngSubmit)="onSubmitComment()">
          <div class="mb-3">
            <label class="form-label">Comment Description</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="commentDescription"
              name="commentDescription"
              required
            />
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-dark">Add Comment</button>
          </div>
        </form>
      </div>
      <div class="card-body"></div>
    </div>
  </div>
</div>
} @else {
<div class="text-center mt-5">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
}
