name: Build and Push Docker Image to Docker Hub

on: 
  push:
    branches:
      - main
      - uat
      - Dev

env:
  DOCKER_USERNAME: kekgaugetswe
  REPO: kekgaugetswe/codejournal.web

jobs:
    push_to_hub:
        name: push image to repo
        runs-on: ubuntu-latest
        steps:
          - name: check repo
            uses: actions/checkout@v4

          - name: login to DockerHub
            uses: docker/login-action@v3
            with:
              username: ${{env.DOCKER_USERNAME}}
              password: ${{secrets.DOCKER_HUB_ACCESS_TOKEN}}
          
          - name: build and push docker image to DockerHub
            uses: docker/build-push-action@v5
            with:
              context: ./LGSETA.Host
              file: Dockerfile
              push: true
              tags: kekgaugetswe/codejournal-web:codejournal-web
              build-args: |
                DOOSY_GITHUB_PACKAGE_INSTALLER_USERNAME=${{env.DOCKER_USERNAME}}
                DOOSY_GITHUB_PACKAGE_INSTALLER_TOKEN=${{secrets.DOCKER_HUB_ACCESS_TOKEN}}
