name: CI (Web)

on:
  push:
    branches: ["main", "uat", "Dev"]
  pull_request:
    branches: ["main"]

permissions:
  contents: write

env:
  DOCKER_USERNAME: kekgaugetswe
  REPO: kekgaugetswe/codejournal.web

jobs:
  push_to_hub:
    name: Build + push image (Web)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   

      - name: Semantic versioning
        id: versioning
        uses: PaulHatch/semantic-version@v4.0.2
        with:
          branch: main
          tag_prefix: "v"
          major_pattern: "BREAKING CHANGES"
          minor_pattern: "feat"
          format: "v${major}.${minor}.${patch}"

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push Docker image to DockerHub
        uses: docker/build-push-action@v5
        with:
          file: Dockerfile
          push: true
          tags: |
            ${{ env.REPO }}:latest
            ${{ env.REPO }}:${{ steps.versioning.outputs.version }}
          build-args: |
            DOOSY_GITHUB_PACKAGE_INSTALLER_USERNAME=${{ env.DOCKER_USERNAME }}
            DOOSY_GITHUB_PACKAGE_INSTALLER_TOKEN=${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Create Release
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.versioning.outputs.version }}
          release_name: ${{ steps.versioning.outputs.version }}
          prerelease: false
          draft: false
